<br />
<div class="container">
  <div class="form-group" id="formGroup">
    <div id="input" class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        #parentText
      />
      <div class="input-group-append">
        <form>
          <button
            class="btn btn-outline-dark"
            type="submit"
            (click)="chartIt()"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<br />
<br />

<app-barchart [parentTopic]="parentText.value"></app-barchart>
<br />
<br />
<br />
<br />
<app-bubblechart [parentTopic]="parentText.value"></app-bubblechart>
